version: 1.0.0.{build}
branches:
  only:
  - master
image: Visual Studio 2017
build_script:
- cmd: dotnet build src\GranSteL.Helpers.CallContext.sln -c Release
test_script:
- cmd: dotnet test "src\GranSteL.Helpers.CallContext.Tests" -c Release
